<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
<body>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <div class="container-seg">
        <div class="Title-seg">
            <h5 class="card-title">Historico</h5>
        </div>

        <div class="Input-seg">
            <img src="../images/seguimiento_ejemplo.jpg" alt="TODO" style="width: 100%; height: auto;">
        </div>

        <div class="ReturnButton-seg">
            <button class="btn btn-primary btn-lg mb-3" style="margin: 10px;" onclick="location.href='home.html'">Analitics</button>
            <button class="btn btn-secondary btn-lg mb-3" style="margin: 10px;" onclick="location.href='home.html'">Regresar</button>
        </div>
</body>
</html>