<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento Familiar</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
 </head>
<body>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid"></div>
                <span class="navbar-brand mb-0 h1">Seguimiento Familiar</span>
                <span class="navbar-text ms-auto"></span>
                    Usuarios Registrados: <span id="numUsuarios">0</span>
                </span>
            </div>
        </nav>
    </header>

    
    <main class="container mt-4 d-flex justify-content-center flex-column align-items-center" style="min-height: 50vh;">
        <button class="btn btn-primary btn-lg mb-3" style="margin: 10px;" onclick="location.href='chat.html'">Chat</button>
        <button class="btn btn-primary btn-lg mb-3" style="margin: 10px;" onclick="location.href='seguimiento.html'">Seguimiento</button>
        <button class="btn btn-primary btn-lg mb-3" style="margin: 10px;" onclick="location.href='historico.html'">Histórico</button>
    </main>

    <footer class="bg-dark text-light text-center py-3">
        <button class="btn btn-danger btn-lg mx-2">Emergencia</button>
        <button class="btn btn-secondary btn-lg mx-2" onclick="location.href='../index.html'">Salir</button>
    </footer>


    </body>
</html>