<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento Familiar</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>


    
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="card login-form">
        <div class="card-body">
            <h5 class="card-title">Iniciar Sesión</h5>
            <form id="loginForm">

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary" formaction="home.html">Iniciar Sesión</button>
                <a href="../index.html" class="btn btn-secondary">Regresar</a>

            </form>
        </div>
    </div>

</div>

</body>
</html>