<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página   
 en Construcción</title>
    <link rel="stylesheet" href="styles.css"> </head>
<body>
    <div class="container">   

        <h1>¡Estamos trabajando en esto!</h1>
        <p>Nuestra página web está en construcción. Regresa pronto para ver las novedades.</p>
        <a href="home.html" class="btn">Regresar a home</a>
        <img src="../images/container_pending.jpg" alt="TODO"> </div>
</body>
</html>